Django==4.2.8
django-debug-toolbar
pyaml
django-crispy-forms
python-ldap
django-auth-ldap
requests
reportlab
psycopg2
python-dateutil
matplotlib
ruamel.yaml
requests-oauthlib
pyjwt[crypto]
python3-openid
requests-oauthlib
django-allauth
