{% extends '_layouts/base.html' %}

{% load static %}
{% load escapesharp %}
{% load startswith %}

{% block title %} {{kernel_change.branch}} {{kernel_change.describe}} {% endblock %}

{% block headline %}<h1>{{kernel_change.branch}} > {{kernel_change.describe}}</h1>{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "report/css/compatibility_result.css" %}">
{% endblock %}

{% block content %}
<div class="row">
<table class="table"><tbody><tr>
        <td style="text-align: right;">
            {% if fetch_latest %}
                <a href="/lkft/kernel-changes/{{kernel_change.branch}}/{{kernel_change.describe}}">Only show data cached</a>
            {% else %}
                <a href="/lkft/kernel-changes/{{kernel_change.branch}}/{{kernel_change.describe}}?fetch_latest=true">Refresh with the latest data</a>
            {% endif %}
        </td>
    </tr></tbody></table>
</div>

<div>
<h1>Summary</h1>
<table border="1">
    <tr>
        <th>Branch</th>
        <td>{{kernel_change.branch}}</td>
    </tr>
    <tr>
        <th>Describe</th>
        <td>{{kernel_change.describe}}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>
            {{kernel_change.result}}
            <br>
            <a target='_blank' href="/lkft/cancel-kernelchange/{{kernel_change.branch}}/{{kernel_change.describe}}">Want to Cancel?</a>
        </td>
    </tr>
    <tr>
        <th>Reported Status</th>
        <td>{{kernel_change.reported|yesno:"True,False"}}， <a href="/lkft/changereportstatus/{{kernel_change.branch}}/{{kernel_change.describe}}">want to revert?</a></td>
    </tr>
    <tr>
        <th>Trigger</th>
        <td><a href="https://gitlab.com/Linaro/lkft/users/yongqin.liu/{{kernel_change.trigger_name}}/-/pipelines/{{kernel_change.trigger_number}}">{{kernel_change.trigger_name}}#{{kernel_change.trigger_number}}</a></td>
    </tr>
    <tr>
        <th>Started At</th>
        <td><p>Started at {{ kernel_change.timestamp|date:'M. d, Y, H:i'}}, &nbsp;{{ kernel_change.timestamp|timesince}} ago</p></td>
    </tr>
    <tr>
        <th>Duration</th>
        {% if kernel_change.result == 'ALL_COMPLETED' %}
        <td align='right'>Took {{kernel_change.duration}} to finish</td>
        {% else %}
        <td align='right'>--</td>
        {% endif %}
    </tr>
    <tr>
        <th>Passed</th>
        <td align='right'>{{kernel_change.number_passed}}</td>
    </tr>
    <tr>
        <th>Failed</th>
        <td align='right'>{{kernel_change.number_failed}}</td>
    </tr>
    <tr>
        <th>AssumptionF</th>
        <td align='right'>{{kernel_change.number_assumption_failure}}</td>
    </tr>
    <tr>
        <th>Ignored</th>
        <td align='right'>{{kernel_change.number_ignored}}</td>
    </tr>
    <tr>
        <th>Total</th>
        <td align='right'>{{kernel_change.number_total}}</td>
    </tr>
    <tr>
        <th>Modules Done</th>
        <td align='right'>{{kernel_change.modules_done}}</td>
    </tr>
    <tr>
        <th>Modules Total</th>
        <td align='right'>{{kernel_change.modules_total}}</td>
    </tr>
    <tr>
        <th>Jobs Finished</th>
        <td align='right'>{{kernel_change.jobs_finished}}</td>
    </tr>
    <tr>
        <th>Jobs Total</th>
        <td align='right'>{{kernel_change.jobs_total}}</td>
    </tr>
</table>

</div>

<div>
<h1>Trigger Build</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Status</th>
        <th>StartedAt</th>
        <th>Duration</th>
</tr>
<tr>
    <td><a href="https://gitlab.com/Linaro/lkft/users/yongqin.liu/{{trigger_build.name}}/~/pipelines">{{trigger_build.name}}</a></td>
    <td align='right'><a href="https://gitlab.com/Linaro/lkft/users/yongqin.liu/{{trigger_build.name}}/~/pipelines/{{trigger_build.number}}/">{{trigger_build.number}}</a></td>
    <td>{{trigger_build.result}}</td>
    <td><p>Started at {{ trigger_build.timestamp|date:'M. d, Y, H:i'}}, <br/>{{ trigger_build.timestamp|timesince}} ago</p></td>
    <td align='right'>{{trigger_build.duration}}</td>
</tr>
</table>
</div>

<div>
<h1>CI Builds</h1>
<table border="1">
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Number</th>
        <th>Status</th>
        <th>QueuedTime</th>
        <th>StartedAt</th>
        <th>Duration</th>
</tr>
{% for cibuild in ci_builds %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="https://gitlab.com/Linaro/lkft/users/yongqin.liu/{{cibuild.name}}/-/pipelines/">{{cibuild.name}}</a></td>
    <td align='right'><a href="https://gitlab.com/Linaro/lkft/users/yongqin.liu/{{cibuild.name}}/-/pipelines/{{cibuild.number}}/">{{cibuild.number}}</a></td>
    <td>{{cibuild.result}}</td>
    <td align='right'>{{cibuild.queued_duration}}</td>
    <td><p>Started at {{ cibuild.timestamp|date:'M. d, Y, H:i'}}, <br/>{{ cibuild.timestamp|timesince}} ago</p></td>
    <td align='right'>{{cibuild.duration}}</td>
</tr>
{% endfor %}
</table>
</div>

<div>
<h1>QA Report Builds</h1>
<table border="1">
    <tr>
        <th>Index</th>
        <th>Group</th>
        <th>Name</th>
        <th>Status</th>
        <th>StartedAt</th>
        <th>Duration</th>
        <th>Pass</th>
        <th>Fail</th>
        <th>AssumptionF</th>
        <th>Ignored</th>
        <th>Total</th>
        <th>Modules Done/Total</th>
        <th>Jobs Finished/Total</th>
</tr>
{% for report_build in report_builds %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="https://qa-reports.linaro.org/{{report_build.qa_project.group}}/">{{report_build.qa_project.group}}</a></td>
    <td>
        <a href="/lkft/builds?project_id={{report_build.qa_project.project_id}}">{{report_build.qa_project.name}}</a><br/>
        <a href="https://qa-reports.linaro.org/{{report_build.qa_project.group}}/{{report_build.qa_project.slug}}/build/{{kernel_change.describe}}">Link To QA-REPORT</a>
    </td>
    <td align='right'>
        {% if report_build.status == "JOBSNOTSUBMITTED" %}
        <p style="background-color: yellow">{{ report_build.status}}</p>
        <a target='_blank' href="/lkft/cancel-build/{{report_build.qa_build_id}}/">Want to Cancel?</a>
        {% elif report_build.status == "JOBSINPROGRESS" %}
        <p style="background-color: green">{{ report_build.status}}</p>
        <a target='_blank' href="/lkft/cancel-build/{{report_build.qa_build_id}}/">Want to Cancel?</a>
        {% else %}
        <p>{{ report_build.status}}</p>
        {% endif %}
    </td>
    <td><p>Started at {{ report_build.started_at|date:'M. d, Y, H:i'}},<br/>{{ report_build.started_at|timesince}} ago</p></td>
    <td align='right'>{{report_build.duration}}</td>
    <td align='right'><a href="/lkft/jobs/?build_id={{report_build.qa_build_id}}">{{report_build.number_passed}}</a></td>
    <td align='right'><a href="/lkft/jobs/?build_id={{report_build.qa_build_id}}">{{report_build.number_failed}}</a></td>
    <td align='right'><a href="/lkft/jobs/?build_id={{report_build.qa_build_id}}">{{report_build.number_assumption_failure}}</a></td>
    <td align='right'><a href="/lkft/jobs/?build_id={{report_build.qa_build_id}}">{{report_build.number_ignored}}</a></td>
    <td align='right'><a href="/lkft/jobs/?build_id={{report_build.qa_build_id}}">{{report_build.number_total}}</a></td>
    <td align='right'><a href="/lkft/jobs/?build_id={{report_build.qa_build_id}}">{{report_build.modules_done}}/{{report_build.modules_total}}</a></td>
    <td align='right'><a href="/lkft/jobs/?build_id={{report_build.qa_build_id}}">{{report_build.jobs_finished}}/{{report_build.jobs_total}}</a></td>
</tr>
{% endfor %}
</table>
</div>

{% if report_jobs %}
<div>
<h2>Jobs List:</h2>
<table border="1">
<tr>
    <th> Index</th>
    <th> QAProjectGroup</th>
    <th> QAProjectName</th>
    <th> Job Id/Job Link</a> </th>
    <th> Job Name/Attachment</a></th>
    <th> Job Status </th>
    <th> Resubmit </th>
    <th> FailureMsg </th>
    <th> Passed </th>
    <th> Failed </th>
    <th> AssumptionF </th>
    <th> Ignored </th>
    <th> Total </th>
    <th> Modules Done/Total </th>
</tr>
{% for job in report_jobs %}
<tr>
    <td> {{ forloop.counter }}</td>
    <td> {{job.qaproject_group }}</td>
    <td> {{job.qaproject_name }}</td>
    <td> <a href="{{job.lavajob_url}}">{{job.lavajob_id}}</a> </td>
    {% if job.lavajob_attachment_url %}
    <td nowrap> <a target='_blank' href="{{job.lavajob_attachment_url}}">{{job.lavajob_name}} </a></td>
    {% else %}
    <td nowrap> {{job.lavajob_name}}</td>
    {% endif %}
    {% if job.lavajob_status == 'NotSubmitted' %}
    <td>{{job.lavajob_status}}</td>
    {% else %}
    <td><a target='_blank' href="/lkft/lavalog/{{job.qajob_id}}/">{{job.lavajob_status}}</a></td>
    {% endif %}
    {% if job.lavajob_status == 'Running' or job.lavajob_status == 'Submitted'%}
    <td>&nbsp;</td>
    {% else %}
    <td>
        <a target='_blank' href="/lkft/resubmit-job-manual/{{job.qajob_id}}?&no_update=true">Resubmit</a>
        &nbsp;/&nbsp;
        <a target='_blank' href="/lkft/resubmit-job-manual/{{job.qajob_id}}?no_update=false">Manual</a>
        &nbsp;/&nbsp;
        <a target='_blank' href="/lkft/fetch-job/{{job.qajob_id}}">Fetch</a>
    </td>
    {% endif %}
    {% if job.failure_msg %}
    <td>{{job.failure_msg}} </td>
    {% else %}
    <td>&nbsp;</td>
    {% endif %}
    <td align="right">{{job.number_passed}}</td>
    <td align="right">{{job.number_failed}}</td>
    <td align="right">{{job.number_assumption_failure}}</td>
    <td align="right">{{job.number_ignored}}</td>
    <td align="right">{{job.number_total}}</td>
    <td align="right">
    {% if job.modules_done != job.modules_total or job.is_cts_vts_job and job.modules_total == 0 %}
    <p style="background-color: red">{{job.modules_done}}/{{job.modules_total}}</p>
    {% else %}
    {{job.modules_done}}/{{job.modules_total}}
    {% endif %}
    </td>
</tr>
{% endfor %}
</table>
</div>

{% if resubmitted_jobs %}
<div>
<h2>Resubmitted Jobs List:</h2>
<table border="1">
<tr>
    <th> Index</th>
    <th> QAProjectGroup</th>
    <th> QAProjectName</th>
    <th> Job Id/Job Link</a> </th>
    <th> Job Name/Attachment</a></th>
    <th> Job Status </th>
    <th> FailureMsg </th>
    <th> Report Bug </th>
</tr>
{% for job in resubmitted_jobs %}
<tr>
    <td> {{ forloop.counter }}</td>
    <td> {{job.qaproject_group }}</td>
    <td> {{job.qaproject_name }}</td>
    <td> <a href="{{job.lavajob_url}}">{{job.lavajob_id}}</a> </td>
    {% if job.lavajob_url %}
    <td nowrap> <a target='_blank' href="{{job.lavajob_url}}">{{job.lavajob_name}} </a></td>
    {% else %}
    <td nowrap> {{job.lavajob_name}}</td>
    {% endif %}
    <td>{{job.lavajob_status}} </td>
    {% if job.failure_msg %}
    <td>{{job.failure_msg}} </td>
    {% else %}
    <td>&nbsp;</td>
    {% endif %}
    <td><a target='_blank' href="{{job.new_bug_url}}">Report Bug</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}
{% endif %}

{% if failures %}
<script type="text/javascript">
    function toggle() {
      for (var i = 0; i < arguments.length; i++) {
        var e = document.getElementById(arguments[i]);
        if (e) {
          e.style.display = e.style.display == 'none' ? 'block': 'none';
        }
      }
      return false;
    }
    function moduleToggle(link, id) {
      toggle('module-details-' + id);
      var s = link.getElementsByTagName('span')[0];
      var uarr = String.fromCharCode(0x25b6);
      var darr = String.fromCharCode(0x25bc);
      s.textContent = s.textContent == uarr ? darr : uarr;
      return false;
    }
</script>
<div align="left">
<h2>Details of Failures</h2>
{% for module_name, module_failures in failures.items %}
{% if module_failures|length > 0 %}
<div>
    <a href="#" onclick="return moduleToggle(this, '{{module_name}}')" name="{{module_name}}"><span>▶</span> {{module_name}} has {{ module_failures|length }} failures</a>
</div>
<table id="module-details-{{module_name}}" class="testdetails" style="display: none;">
<tbody>
<tr>
    <th>Index</th>
    <th>Test</th>
    <th>Result</th>
    <th>Kernels</th>
    <th>Projects</th>
</tr>
{% for testcase_name, failure in module_failures.items %}
<tr>
    <td> {{ forloop.counter }}</td>
    <td class="testname">{{failure.test_name}}</td>
    <td class="testname">{{failure.result}}</td>
    <td class="testname" nowrap>
        {% with failure.kernel_versions as kernel_versions %}
        {% for kernel_version in kernel_versions %}
        {% if not forloop.first %}<br/>{% endif %}
        {{ kernel_version }}
        {% endfor %}
        {% endwith %}
    </td>
    <td class="testname" nowrap>
        {% with failure.project_names as project_names %}
        {% for project_name in project_names %}
        {% if not forloop.first %}<br/>{% endif %}
        {{ project_name }}
        {% endfor %}
        {% endwith %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% endfor %}
</div>
{% endif %}
{% endblock %}
